.DS_Store

# Intellij idea
/.idea
ComputerSquadBot.iml

# VSCode
.settings/
.classpath
.project

# Maven
/target

# The configuration should never be in source control
user/configuration
user/alarms.json

!.gitkeep